
<div class="d-flex" style="min-height: 100vh;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Gerencia de Pets
        </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="/"/></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="/addPet" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                    Adicionar Pet
                </a>
            </li>
            <li>
                <a href="/updatePet" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Atualizar Pet
                </a>
            </li>
            <li>
                <a href="/allPets" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                    Pesquisar por Altura
                </a>
            </li>
            <li>
                <a href="/searchByTutor" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Pesquisar por Tutor
                </a>
            </li>
            <li>
                <a href="/deletePet" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Deletar Pet
                </a>
            </li>
        </ul>
        <span class="fs-4">Seu Id</span>
        <hr>
        <a href="/login"><button class="btn-primary sair">Sair</button></a>
    </div>
    