<%- include("partials/header"); -%>

    <%- include("partials/sidebar"); -%>

        <div class="container home">
            <h1>Bem-vindo ao nosso site de gerenciamento de pets!</h1><br>
            <p>Aqui você pode gerenciar todas as informações e cuidados relacionados aos seus queridos animais de
                estimação. Nosso objetivo é facilitar o acompanhamento das necessidades individuais de cada pet,
                ajudando você a fornecer-lhes os cuidados adequados.</p>
            <p>Com a nossa plataforma, você terá acesso a recursos abrangentes para o registro e acompanhamento de seus
                animais de estimação. Você poderá adicionar detalhes como nome, gênero, altura e outros dados relevantes
                de cada pet. Além disso, você poderá atualizar informações, monitorar sua saúde e agendar consultas
                veterinárias.</p>
            <p>Nosso site foi projetado pensando em sua comodidade e facilidade de uso. Com uma interface amigável e
                intuitiva, você poderá navegar pelas diferentes seções de forma simples e acessar rapidamente as
                informações de que precisa.</p>
            <p>Estamos comprometidos em fornecer a você uma experiência completa de gerenciamento de pets, auxiliando-o
                a manter seus animais saudáveis, felizes e bem-cuidados. Não importa se você tem um cachorro, gato,
                pássaro ou outro animal de estimação, nossa plataforma está pronta para atender às suas necessidades.
            </p>
            <p>Explore todas as funcionalidades que oferecemos e aproveite ao máximo nossa ferramenta de gerenciamento
                de pets. Estamos aqui para ajudá-lo a garantir que seus animais de estimação recebam toda a atenção e
                cuidado que merecem.</p>
            <p><strong>Seja bem-vindo ao mundo do gerenciamento de pets!</strong></p>
        </div>

        <%- include("partials/footer"); -%>