<%- include("partials/header"); -%>

<a href="/login"><button class="btn-primary return">Refazer Login</button></a>
<div class="credenciais">
    <h1>CREDENCIAIS INVÁLIDAS</h1>
    <img src="https://freesvg.org/img/dagobert83_cancel.png" class="invalid" alt="Image Description">
</div>

<%- include("partials/footer"); -%>