<%- include("partials/header"); -%>
<div class="register-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" name="nome" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Enter your CPF">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="senha" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary btnregister">Register</button>
    </form>
    <div class="register-link">
        Voltar ao <a href="/login">Login</a>
    </div>
</div>
<%- include("partials/footer"); -%>
