<%- include("partials/header"); -%>
<%- include("partials/sidebar"); -%>

<a href="/"><button class="btn-primary return">Voltar</button></a>
<div class="credenciais">
    <h1>VALOR INVÁLIDO</h1>
    <img src="https://freesvg.org/img/dagobert83_cancel.png" class="invalid" alt="Image Description">
</div>

<%- include("partials/footer"); -%>